node_modules
.DS_STORE
yarn-error.log
dist/
build/
coverage/
tsdocs/
tsconfig.tsbuildinfo
packages/**/*.d.ts
packages/**/*.d.ts.map
packages/**/*.js
packages/**/*.js.map
packages/**/*.tgz
tmp/
.loom
.vscode/
