node_modules
.DS_STORE
yarn-error.log
dist
coverage/
yarn-error.log
tsdocs/
tsconfig.tsbuildinfo
packages/**/*.d.ts
packages/**/*.d.ts.map
packages/**/*.js
packages/**/*.js.map
packages/**/*.tgz
tmp/
