node_modules
.DS_STORE
yarn-error.log
dist/
build/
coverage/
tsdocs/
tsconfig.tsbuildinfo
database.sqlite
*.testDb
*.testDb-journal
packages/**/build
packages/**/*.tgz
tmp/
bundle/
.turbo
.rollup.cache
rollup.config-*.cjs
.cursor
.worktrees/
