link-workspace-packages=true
registry=https://registry.npmjs.org/
@shopify:registry=https://registry.npmjs.org/
public-hoist-pattern[]=*
node-linker=hoisted
shamefully-hoist=true
# prefer-workspace-packages=true
