name: Check Markdown links

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  markdown-link-check:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'Skip Markdown Link Check') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: gaurav-nelson/github-action-markdown-link-check@5c5dfc0ac2e225883c0e5f03a85311ec2830d368 # v1
        with:
          config-file: '.github/workflows/markdown_link_checker_config.json'
          folder-path: 'packages'
      - name: Ensure markdown links are only to main GitHub branches
        run: 'grep --include="*.md" --exclude-dir=node_modules -Er "\/(tree|blob)" | (! grep -vE "\/(tree|blob)\/(main|master|HEAD)")'
