name: Publish experimental release
on:
  workflow_dispatch:

jobs:
  experimental-release:
    name: Publishing experimental release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
        with:
          ref: experimental

      # Setup .npmrc file to publish to npm
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          registry-url: 'https://registry.npmjs.org'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Version
        run: pnpm run changeset version --snapshot experimental

      - name: Publish to NPM
        run: pnpm run changeset publish --tag experimental
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
